#burger-map {
  width: 80%;
  height: 600px;
  border-radius: 16px;
  margin-top: 2rem;

  margin: 0 auto;

  margin-bottom: 4rem;
}

@media (max-width: 600px) {
  #burger-map {
    width: 100%;
    height: 400px;
  }
}
