/**************/
/*** HEADER ***/
/**************/
main {
  max-width: 1300px;
  margin: 0 auto;
}

.header--burger--menu {
  display: none;
}

.header--bottom__mobile {
  display: none;
}

.header {
  max-width: 1300px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  margin-bottom: 64px;
}

.header--top {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  align-items: center;
  padding: 10px 8px;
}

.header--select {
  width: 150px;
  height: 30px;
  border-radius: 4px;

  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #f59622;
  color: #111;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: background-color 0.3s ease;
}

.header--input {
  width: 100%;
  max-width: 150px;
  height: 30px;
  border-radius: 4px;

  border: 1px solid rgba(0, 0, 0, 0.5);

  padding: 0 10px;
  font-size: 16px;

  background-color: #f59622;
  color: #111;

  transition: background-color 0.3s ease;
}

.header--bottom__nav {
  list-style: none;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 48px;
  padding: 10px 8px;
}

.location--svg {
  width: 32px;
  height: 32px;
}

.header--bottom__nav > li {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #000;

  display: flex;
  align-items: center;

  transition: color 0.3s ease;
}

.header--bottom__nav > li:hover {
  color: #f59622;

  transition: color 0.3s ease;
}

.header--bottom__nav > li:last-child {
  margin-left: auto;
  /* justify-self: flex-end; */
}

@media (max-width: 600px) {
  /**********/
  /* HEADER */
  /**********/
  .header--select {
    display: none;
  }

  .header--top__logo img {
    width: 120px;
    height: auto;
  }

  .header--input {
    display: none;
  }

  .header--bottom__nav {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: white;

    z-index: 10;
    position: relative;
  }

  .header--burger--menu div {
    height: 5px;
    width: 35px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .header--burger--menu {
    display: flex;
    flex-direction: column;
    gap: 5px;

    cursor: pointer;
    margin-right: 32px;
  }

  .header--bottom__mobile {
    z-index: 5;
    position: absolute;

    background-color: rgba(238, 238, 238, 1);
    padding: 25px;
    width: 100%;
    top: 110%;
    transform: translateX(-100%);

    display: flex;
    justify-content: space-between;

    transition: transform 0.3s ease-in-out;
  }

  .header--bottom__mobile__active {
    left: 0;
    z-index: 10;
    transform: translateX(0);

    transition: transform 0.3s ease-in-out;
  }

  .header--bottom__mobile ul {
    list-style: none;

    display: flex;
    flex-direction: column;

    gap: 16px;
    padding: 16px;
  }

  .header--bottom__mobile ul li {
    font-size: 16px;
    font-weight: 800;
    color: #000;

    cursor: pointer;
  }
}
