.hero {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 32px;
}

.hero-image {
  width: 100%;
  height: 500px;
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.arrow {
  font-size: 32px;

  transition: color 0.3s ease;
}

.arrow:hover {
  cursor: pointer;
  color: #f59622;

  transition: color 0.3s ease;
}

.section-hero {
  margin-bottom: 128px;
}

.section-contact-us {
  margin-bottom: 128px;
  background-color: #f9f9f9;

  border-radius: 14px;
}

.contact-us {
  padding: 64px 24px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
}

.contact-us--input-button--wrapper {
  display: flex;
  gap: 16px;
}

.contact-us--input {
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgba(117, 117, 117, 0.5);

  padding: 0 10px;
  font-size: 16px;

  background-color: #f9f9f9;
  color: #111;

  transition: background-color 0.3s ease;
}

.contact-us--text {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
}

.contact-us--button {
  width: 120px;
  height: 40px;
  border-radius: 8px;

  border: none;
  background-color: #f59622;
  color: #111;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: background-color 0.3s ease;
}
